nav img {
    width: 30vh;
}
.navbar{
    box-shadow: none;
}
nav i {
    color: #cc6633;
}

ul.navbar-nav {
    white-space: nowrap;
}
img.icon {
    width: 50px;
    margin-right: 2em;
}
ul.icon{
    width: 75vw;
    margin: auto;
}

.list-group-item{
    border:none!important;
}

section {
    height: 100vh;
}