body {
    background-image: url("../img/backgound-cs.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-color: rgba(255, 250, 228, 0.103);
    max-width: 100%;
    overflow: hidden;
}

#container{
    max-height:100vh;
    display: flex;
    max-width: 50vh;

}

main {
    margin: auto;
    font-family: 'Poppins', sans-serif;
    padding: 1em;
}

h1 {
    font-family: 'Comfortaa', 'Comic Sans MS', sans-serif;
    text-transform: lowercase;
    font-size: 5rem;
    color: #E64AA1;
}

p{
    font-size: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 768px) {
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 1.2rem;
    }
}

