body {
    background-image: url("../img/backgound-cs.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-color: rgba(255, 250, 228, 0.103);
    max-width: 100%;
    overflow: hidden;
}

#container{
    height:100vh;
    display: flex;
    max-width: 50%;
    padding: 0.3rem;

}

main {
    margin: auto;
    font-family: 'Poppins', sans-serif;
    padding: 1em;
}

h1 {
    font-family: 'Comfortaa', 'Comic Sans MS', sans-serif;
    text-transform: lowercase;
    font-size: 5rem;
    color: #E64AA1;
}

p{
    font-size: 2rem;
}